.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.newForm {
  display: flex;
  flex-direction: column;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#link {
  text-decoration: none;
}
